*{
    margin: 0;
    padding: 0;
}
:root{
    --rojo:rgb(43, 255, 0);
    --amarillo: rgba(111, 201, 100, 0.288);
    --verde: green;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
section{
    height: 100%;
    width: 33%;
    margin: 1vh;
}
.fondo_amarillo{
    background: rgb(255, 230, 0);
}
.fondo_rojo{
    background: red;
}
.fondo_verde{
    background: rgb(9, 255, 0);
}
@media(max-width: 720px){
    main{
        flex-direction: column;
    }
    section{
        width: 100%;
    }
    .fondo_rojo{
        display: none;
    }
}